<!doctype html>
<html>
<head>
    <title>TrentoBot Chat</title>
    <link rel="stylesheet" href="css/style.css">	
</head>
<body>
<div id="unitn">
	<img src="img/unitn.png" align=center width=90% padding=10px;></img>
</div>
<div id="chatbox">
</div>
<form action="">
    <input id="m" placeholder="Fammi una domanda..." autocomplete="off"/>
    <button>Invia</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="js/script.js"></script>
</body>
</html>